.App {
  text-align: center;
}

.containerPages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 0.75rem 1rem;
  background-color: aqua;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: aliceblue;
  color: black;
  cursor: no-drop;
}
