:root {
  --primary-color: #070d2d;
  --secondary-color: #161a37;
  --terciary-color: #546ee5;
  --text-color: #f8f8f8;
  --star-color: #ffa235;
  --star-incomplete: #3e4265;
  --seats-color: #454b6b;
  --available-color: #fe5430;
  --secondary-rgb: rgba(22, 26, 55, 0.5);
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.App {
  text-align: center;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header {
  padding: 1rem 1rem 0.5rem 1rem;
}

.container__title {
  padding: 0.75rem 1.15rem 0.25rem;
}

.containerPages {
  justify-content: space-around;
}

.nav__relative {
  position: relative;
}

.container__profile {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  border-radius: 50%;
  padding: 0;
}

.icon__profile {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
}

.search {
  justify-content: start;
  border: solid 0.05rem var(--seats-color);
  border-radius: 2rem;
  margin: 0.75rem 1.75rem;
  background-color: var(--primary-color);
}

::placeholder {
  color: var(--seats-color);
}

.search__icon {
  margin: 0 1rem;
  fill: var(--seats-color);
}

.search__input {
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem 0.5rem 0;
  color: var(--text-color);
}

.search__input:focus {
  outline: none;
}

h1,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0 0.75rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

button {
  padding: 0.75rem 1rem;
  background-color: aqua;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: aliceblue;
  color: black;
  cursor: no-drop;
}

.complete {
  fill: var(--star-color);
  padding: 0 0.1rem;
}

.incomplete {
  padding: 0 0.1rem;
  fill: var(--star-incomplete);
}

.card {
  width: 50%;
  min-width: 50%;
  padding: 0.75rem;
}

.card__explore {
  width: 80%;
}

.slider {
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.see {
  background-color: var(--primary-color);
  padding: 0.5rem 0 0.25rem 0;
  padding-inline-end: 0;
  font-size: 0.85rem;
  color: var(--seats-color);
}

.container__carousel {
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 1rem;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  border-radius: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-horizontal::-webkit-scrollbar {
  display: none;
}

.content__image {
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--secondary-color);
}

.carousel-item {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex: none;
  scroll-snap-align: start;
}

.image__top {
  height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.title__movie {
  position: relative;
  bottom: 6rem;
  padding: 0.65rem;
  background-color: var(--secondary-rgb);
}

.card__image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1.75rem;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* NAV */

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  z-index: 5;
  /* padding: 1rem 0 0.5rem 0; */
  background-color: var(--primary-color);
  border-radius: 2rem 2rem 0 0;
  box-shadow: -0.125rem -0.125rem 0.5rem rgba(0, 0, 0, 0.25);
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.nav__icon {
  width: 1.35rem;
  height: 1.35rem;
  fill: var(--seats-color);
}

.active__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--terciary-color);
  stroke: none;
}

.nav__circle {
  margin: 0.3rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.active {
  background-color: var(--terciary-color);
}

.content {
  height: 3.5rem;
}

.available {
  position: absolute;
  width: 0.55rem;
  height: 0.55rem;
  top: -0.2rem;
  right: -0.2rem;
  margin: 0 0 0.15rem 0.15rem;
  border: solid 0.2rem var(--primary-color);
  background-color: var(--available-color);
}

.hide {
  display: none;
}

.container__explore {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  justify-items: center;
}

.profile__container {
  text-align: start;
  padding: 1.5rem 1rem;
}

.profile {
  justify-content: start;
}

.profile__content {
  height: 6rem;
  width: 6rem;
}

.profile__image {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

/* SEATS */

.screen {
  height: 0.2rem;
  margin: 0 3rem 1rem 3rem;
  background-color: var(--seats-color);
}

.screen__sub {
  height: 0.25rem;
  margin: 2rem 10rem 0.25rem 10rem;
}

.container__seats {
  width: auto;
}

.content__seats {
  display: inline-block;
}

.container__seat {
  justify-content: center;
  padding: 0.15rem;
}

.seat {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--primary-color);
  border: solid 0.125rem var(--terciary-color);
  border-radius: 0.3rem;
  margin: 0.1rem 0.15rem;
  padding: 0.6rem;
}

.selected {
  background-color: var(--seats-color);
  border: solid 0.125rem var(--seats-color);
}

.reserved {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seats-color);
  font-weight: bold;
  background-color: var(--primary-color);
  border: solid 0.125rem var(--seats-color);
}

.hallway {
  width: 0.7rem;
  background-color: var(--primary-color);
  border: solid 0.125rem var(--primary-color);
  margin: 0.05rem;
  padding: 0;
}
